body {
    background-color: lightgray;
    display: inline-flexbox;
}


.flex-parent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    border: dashed 1px rgb(90, 129, 90);
    padding: 45px;
} 

.flex-item {
    
    
    border: dashed 2px red;
    padding: 9%;
    justify-items: left;
    
}
/*
.dragon-img {
    flex-shrink: 1;
}*/  not keeping the img on smaller screen 
h1 {
    margin-top: 10px;
}

